<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Gestión de Pedidos</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/order-list" routerLinkActive="active">Listado de Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-order" routerLinkActive="active">Crear Pedido</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>